fieldset {
    font-family: 'arial', monospace;
    border: 5px solid #f782a6;
    background: #bdcf3b;
    border-radius: 5px;
    padding: 30px;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

fieldset legend {
    background: #f782a6;
    color: #fff;
    padding: 5px 10px ;
    font-size: 32px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-right: 100px;
}

body,
.legend_add {
    height: 100%;
}
  
.legend_add a {
    color: inherit;
}
.legend_add a:hover {
    color: #f782a6;
}
  
.legend_add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.uppercase {
    text-transform: uppercase;
}
  
.legend_btn {
    display: inline-block;
    font-family: 'arial', monospace;
    border: 0;
    outline: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    background-color: #ddba1e;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
    margin-left: -96px;
    font-size: 18px;
    font-weight: bold;
}

.legend_btn:hover {
    background: #f782a6;
}
.legend_btn:active {
    background: #f782a6;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

  
.legend_text {
    width: 360px;
    background: #fff;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

#addprd_btn {
    font-family: 'arial', monospace;
    border: 0;
    outline: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    background-color: #d8c3a5;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 12px 36px;
    font-size: 18px;
    font-weight: bold;
}

#addprd_btn:hover {
    background: #e85e4f;
}
#addprd_btn:active {
    background: #e85e4f;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}