.tbl {
    border-collapse: collapse;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tbl, th, td {
    border: 1px solid #ddd;
}

th {
    font-family: 'arial', monospace;
    font-size: 25px;
    height: 25px;
    text-align: left;
    background-color: #f782a6;
    color: white;
}

td {
    font-family: 'arial', monospace;
    background-color: #FFFFFF;
    font-size: 17px;
    height: 50px;
    vertical-align: top;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.frm_inline {
    display: inline-block;
	padding: 10px 20px;
	color: white;
	background-color: #bdcf3b;
	border-radius: 25px;
	text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.frm_inline input[type="submit"] {
    color: white;
    font-family: 'arial', monospace;
    font-size: 16px;
    background-color: #bdcf3b;
    outline: none;
    border: none;
    font-weight: bold;
}

.frm_inline input[type="submit"]:hover, .frm_inline:hover {
    color: #15acee;
}

/*Search-bar*/
.warp{
    width: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.search {
    width: 100%;
    position: relative;
    display: flex;
    margin-left: 980px;
}
  
.search_text {
    width: 20%;
    border: 3px solid #f782a6;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-family: 'arial', monospace;
    font-size: 20px;
    background-color:#f2f2f2;
}
  
#search_btn {
    width: 100px;
    height: 36px;
    border: 1px solid #f782a6;
    background: #f782a6;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    font-family: 'arial', monospace;
    font-weight: bold;
}